@import url('https://fonts.googleapis.com/css?family=Anton');


body {
  margin: 0;
  padding: 0;
}

header {
  height: 100%;
  width: 100vw;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(IMG_3787.JPG);
  /* opacity: 0.5; */
}

/* .content {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.4);
} */

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  background: rgba(255, 255, 255, 0.8)
}

.title {
  font-family: 'Anton', sans-serif,cursive;
  font-size: 100px;
  font-weight: bold;
  line-height: 1.2;
  padding: 0 50px;
  text-align: center;
  color: black;
}

.sub-title {
    color: black;
    text-align: center;
}
